@media (max-width: 1280px){
    header img{
        width: 700px;
    }

    .content .playerSelection{
        max-width: 330px;
    }

    .content .playerSelection .character{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 900px){
    header img{
        width: 600px;
    }
}

@media (max-width: 767px){
    body::before{
        background-image: url("../imagens/bg-mobile.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
    }

    main{
        padding: 0 5px;
        justify-content: start;
    }

    header img{
        width: 500px;
    }

    .content .player{
        display: none;
    }
}

@media(max-width: 660px){
    header img{
        width: 300px;
    }
}

@media(max-width: 440px){
    header img{
        width: 200px;
    }
}