body{
    background: var(--cor-secundaria);
    font-family: 'ssf4', Courier, monospace;
}

body::before{
    content: '';
    background-image: url("../imagens/bg-desktop.gif");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.2;
}

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    z-index: 1;
    display: flex;
    justify-content: center;
}

header h1{
    color: var(--cor-titulo-fraco);
    text-transform: uppercase;
    font-size: 50px;
    line-height: 75px;   /* line-height: 102px; */
    -webkit-text-stroke: 1px var(--cor-titulo-forte);
    margin: 0;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .player{
    text-align: center;
    width: 30%;
    height: 70vh;
    position: relative;
}

.content .player img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 30rem;
}

.content .player .name::before{
    content: '';
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 0;
}

.content .player .name h2{
    color: var(--cor-padrao);
    font-family: 'command', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 27px;
}

.content .player1Selected .name::before{
    background-color: var(--cor-azul-principal);
}

.content .player2Selected .name::before{
    background-color: var(--cor-vermelha-principal);
}

.content .playerSelection{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style: none;
    padding: 0;
}

.content .playerSelection .character{
    border: 2px solid var(--cor-padrao);
    background-color: var(--cor-padrao);
    width: 30%;
    height: 100px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in-out;
}

.content .playerSelection .character:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
    transform: scale(1.07);
    z-index: 2;
}

.content .playerSelection .character img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.content .playerSelection .character.selected1{
    border: 2px solid var(--cor-azul-media);
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character.selected1:hover{
    animation: c-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character.selected2{
    border: 2px solid var(--cor-vermelha-fraca);
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character.selected2:hover{
    animation: c-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character .tag{
    display: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 5px;
    left: 5px;
    color: var(--cor-azul-media);
    transition: opacity .3 ease-in-out;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character.selected1 .tag{
    display: block;
    animation: text-glowing-blue .3s ease-in-out infinite;
    animation-direction: alternate;
}

.content .playerSelection .character.selected2 .tag{
    display: block;
    animation: text-glowing-red .3s ease-in-out infinite;
    animation-direction: alternate;
}